.about-us {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-wrap {
  max-width: 580px;
  width: 100%;
  text-align: center;
}
.about-us-h2 {
  font-size: 30px;
  font-weight: 700;
}
.about-us-text {
  font-size: 16px;
  color: #808080;
}
